<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-heading">
      {{ site.job_title }} @ <a href="{{ site.job_url }}">{{site.job}}</a> :: 
      {{ site.osgeo_title }} @ <a href="{{ site.osgeo_url }}">{{ site.osgeo }}</a> ::
      {{ site.foss_title }}
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://github.com/{{ site.username }}">github.com/{{ site.username }}</a></li>
          <li><a href="http://twitter.com/{{ site.username }}">twitter.com/{{ site.username }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="https://flic.kr/{{ site.username }}">flic.kr/{{ site.username }}</a></li>
          <li><a href="https://instagram.com/{{ site.username }}">instagram.com/{{ site.username }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="https://youtube.com/{{ site.username }}">youtube.com/{{ site.username }}</a></li>
          <li><a href="https://vimeo.com/{{ site.username }}">vimeo.com/{{ site.username }}</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
