/*
 * Flickr badge
 *
 * Images are wrapped in divs classed "flickr_badge_image" with ids 
 * "flickr_badge_imageX" where "X" is an integer specifying ordinal position.
 * Below are some styles to get you started!
 */
#flickr_badge_wrapper {
	float: right;
	width: 320px; }

.flickr_badge_image {
	float: right;
	margin: 0 0px 0px 2px;
}

.flickr_badge_image img {
	border: 1px solid #121621 !important;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.flickr_badge_image img:hover {
	border: 1px solid black !important;
	-webkit-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
}
